/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html {
    color: #EEE;
    font-family: Helvetica; }

html {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#003e60), color-stop(100%,#0d2e4c));
	height: 100%; }

a, a:visited {
    color: orange;
    text-decoration: none; }

a:hover { text-decoration: underline; }

h1, h2, h3 {
    text-align: center;
 	text-shadow: #000 0 2px 0; }

h4, h5 {
	text-shadow: #222 0 -2px 0; }

h1 { font-size: 38px; text-transform: capitalize; }
h2 { font-size: 32px; margin-top: 20px; }
h3 { font-size: 24px; margin: 20px 0; }
h5 { font-size: 20px; margin: 10px; }

ul { padding: 40px 50px; }
li { padding: 10px 0; }

pre {
	background-color: #0F192A;
	margin: 0 40px 20px 40px;
	padding: 10px; }

p {
	padding: 20px 50px 40px 50px; }

.inline_code {
	background: #2C82B0;
	padding: 1px 3px; }

.inline_code, pre {
	font-family: 'monaco', 'Courier', 'serif';
	font-size: 14px;
	text-shadow: none;
	text-transform: none; }

.lowercase { text-transform: none; }

#container {
    margin: 0 auto;
    padding: 60px 10px 20px 10px;
    width: 850px; }

#left_nav {
    float: left;
    left: 70px;
    position: relative;
    margin-top: 75px; }

#right_nav {
    float: right;
    position: relative;
    right: 70px;
    margin-top: 75px; }

#github_link {
    display: block;
 	margin: auto;
 	width: 200px; }

#author {
	margin: 60px 0; }

	/* Pretty printing styles. Used with prettify.js. */
	/* Vim sunburst theme by David Leibovic */

	pre .str, code .str { color: #65B042; } /* string  - green */
	pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
	pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
	pre .typ, code .typ { color: #89bdff; } /* type - light blue */
	pre .lit, code .lit { color: #3387CC; } /* literal - blue */
	pre .pun, code .pun { color: #fff; } /* punctuation - white */
	pre .pln, code .pln { color: #fff; } /* plaintext - white */
	pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
	pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
	pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
	pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

	pre.prettyprint, code.prettyprint {
		background-color: #000;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-o-border-radius: 8px;
		-ms-border-radius: 8px;
		-khtml-border-radius: 8px;
		border-radius: 8px;
	}

	pre.prettyprint {
		width: 95%;
		margin: 1em auto;
		padding: 1em;
		white-space: pre-wrap;
	}


	/* Specify class=linenums on a pre to get line numbering */
	ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
	li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
	/* Alternate shading for lines */
	li.L1,li.L3,li.L5,li.L7,li.L9 { }

	@media print {
	  pre .str, code .str { color: #060; }
	  pre .kwd, code .kwd { color: #006; font-weight: bold; }
	  pre .com, code .com { color: #600; font-style: italic; }
	  pre .typ, code .typ { color: #404; font-weight: bold; }
	  pre .lit, code .lit { color: #044; }
	  pre .pun, code .pun { color: #440; }
	  pre .pln, code .pln { color: #000; }
	  pre .tag, code .tag { color: #006; font-weight: bold; }
	  pre .atn, code .atn { color: #404; }
	  pre .atv, code .atv { color: #060; }
	}